@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #584e58;
    overflow: hidden;
    animation: bgs 25s;
}


@keyframes bgs {
    0%, 51% {
        background: #FFFFFF;
    }

    51.1%, 54% {
        background: #000000;
    }

    54.1%, 55% {
        background: #FFFFFF;
    }

    60%, 74.9% {
        background: #584e58;
    }

    75%, 83% {
        background: #a893a8;
    }

    84% {
        background: #584e58;
    }

    100% {
    }
    
}

#intro {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 0%;
    animation: introfade 25s;
}

@keyframes introfade {
    0%, 48% {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    100% {

    }
}

#overlay_right {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    animation: or 25s;
    right: 0%;
}

@keyframes or {
    0%, 56% {
        right: -100%;
    }

    61% {
        right: 0%;
    }
}

#overlay_left {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    animation: ol 25s;
    left: 0%;
}

@keyframes ol {
    0%, 58% {
        left: -100%;
    }

    61% {
        left: 0%;
    }
}

#star_tr {
    position: absolute;
    right: -31vh;
    top: -15vh;
    width: 60vh;
    z-index: 8;
    animation: rightspin 3s linear infinite normal, srmove 25s linear;
    transform: rotate(0);
}

@keyframes srmove {
    0%, 68% {
        right: 200vh;
    }

    75% {
        right: -31vh;
    }
}

@keyframes rightspin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#star_bl {
    position: absolute;
    bottom: -12vh;
    left: -21vh;
    width: 40vh;
    z-index: 9;
    animation: leftspin 3s linear infinite normal, slmove 25s linear;
    transform: rotate(0);
}

@keyframes slmove {
    0%, 68% {
        left: 200vh;
    }

    75% {
        left: -21vh;
    }
}

@keyframes leftspin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#playby {
    height: 100%;
    position: absolute;
    left: 3%;
    z-index: 1;
    animation: pbf 25s;
}

@keyframes pbf {
    0%, 72% {
        left: -5%;
        opacity: 0;
    }

    75% {
        left: 3%;
        opacity: 100%;
    }
    
}

#content {
    display: table-cell;
    max-width: 100%;
    width: 60vh;
    height: 100%;
    position: absolute;
    left: 55%;
}

#desc {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

#name {
    position: relative;
    margin: 5% 0 -10% 0;
    max-width: 100%;
    width: 100vh;
    color: #FFE32C;
    animation: namef 25s;
    opacity: 100%;
}

@keyframes namef {
    0%, 62% {
        opacity: 0%;
    }

    68% {
        opacity: 100%;
    }
    
}

#text {
    font-size: 1vw;
    font-family: 'Covered By Your Grace', cursive;
    color: #e3cdff;
    opacity: 80%;
    animation: descf 25s;
    text-align: center;
    font-style: italic;
    
}

@keyframes descf {
    0%, 65% {
        opacity: 0%;
    }

    68% {
        opacity: 80%;
    }
    
}

#break1 {
    position: relative;
    margin: -15% 0 -20% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 60vh;
}

#break2 {
    position: relative;
    margin-top: -5%;
    object-fit: contain;
    object-position: 50% 50%;
    width: 30vh;
}


.center {
    opacity: 0%;
    text-align: center;
}

#anitext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
}

#vert {
    vertical-align: middle;
}